<ion-view view-title="Create Account" name="create-account-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email..." ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password..." ng-model="data.password">
      </label>
      <button class="button button-dark button-block" ng-click="checkData()">Create Account</button>
    </div>
  </ion-content>
</ion-view>
