<ion-view view-title="Create Account">
  <ion-content class="padding">
    <form name="createAccountForm">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Name..." ng-model="data.name">
        </label>
        <label class="item item-input item-select ">
          <div class="input-label">
            Major:
          </div>
          <select ng-model="data.major">
            <option>CS</option>
            <option>ISyE</option>
            <option>CmpE</option>
            <option>ME</option>
            <option>BME</option>
            <option>ChemE</option>
            <option>EE</option>
            <option>Math</option>
            <option>Physics</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email..." ng-model="data.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password..." ng-model="data.password">
        </label>
        <button class="button button-dark button-block" ng-click="checkData()">Create Account</button>
      </div>
    </form>
  </ion-content>
</ion-view>
