<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email..." ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password..." ng-model="data.password">
      </label>
      <button class="button button-block button-dark" ng-click="checkData()"> Login</button>
    </div>

    <button class="button button-dark button-block" ng-click="gotoCreateAccount()">Create Account</button>


    <div class="text-center">
      <button class="button ion-social-facebook icon-left button-positive " ng-click="facebookLogin()"> Login with
        Facebook
      </button>
    </div>

    <br>

    <div class="text-center">
      <button class="button ion-social-twitter icon-left button-positive " ng-click="twitterLogin()"> Login with
        Twitter
      </button>
    </div>

    <br>

    <div class="text-center">
      <button class="button ion-social-github icon-left button-positive " ng-click="githubLogin()"> Login with
        Github
      </button>
    </div>

    <br>

    <div class="text-center">
      <button class="button ion-social-google icon-left button-positive " ng-click="googleLogin()"> Login with
        Google
      </button>
    </div>
  </ion-content>
</ion-view>
