<ion-view view-title={{input.Title}} cache-view="false">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="secondary">
      <button class="button" style="color: white; " ng-click="save()"><b>Save</b></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="primary">
      <button class="button" style="color: white; " ng-click="cancel()"><b>Cancel</b></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">


    <!--Image div-->
    <div class="col text-center">
      <img src={{input.Poster}}>
    </div>

    <div class="col text-center">
      <u><h3>Your Rating</h3></u>
      <rating ng-model="rating.rate" max="rating.max"></rating>
    </div>

    <!--Details (plot, cast, etc.) div-->
    <div class="col text-left">
      <u><h3> Plot </h3></u>
      <p> {{input.Plot}}</p>

      <u><h3>Cast</h3></u>
      <p> {{input.Actors}}</p>

      <u><h3>IMDB Rating</h3></u>
      <p> {{input.imdbRating}}</p>

      <u><h3>Average user Rating</h3></u>
      <p> {{input.avgRating}}</p>

    </div>

  </ion-content>
</ion-view>
