<ion-view view-title="Ratings">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>
  <ion-content>
    <!--todo-me: Get list of movies from user node in Firebase, parse them and display here with picture, name and rating (Rating in stars if possible, otherwise just numbers-->
    <ion-list>
      <ion-item class="item item-avatar-left item-icon-right" ng-repeat="(movie, details) in movies">
        <img ng-src="{{details.Image}}">
        <h2>{{movie}}</h2>
        <p>Your Rating: {{details.Rating}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(movie)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
