<ion-view view-title="Profile">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>
  <ion-content>
    <div class="col text-center">
      <img ng-src="{{userInfo.image}}">
    </div>
    <br>
    <div class="col text-center">
      <h3> Name: {{userInfo.name}}</h3>
      <br>
      <h3> Major: {{userInfo.major}}</h3>
      <br>
      <h3> Username/Email: {{userInfo.email}}</h3>

      <br>
      <br>

      <button class="button button-positive ion-log-out larger button-block" ng-click="logoutUser()"> Logout</button>
    </div>

  </ion-content>
</ion-view>
