<ion-view view-title="Movie Search">
  <ion-content class="padding">
    <h3 align="center">Welcome to Buzz Movie Search</h3>
    <p align="center">
      This is where you can search for movies.
    </p>


      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="data.moviename">
      </label>

    <br>

    <div class = "col text-center">
        <button class="button icon-left ion-ios-search button-assertive" ng-click="searchMovie()">Search</button>
    </div>

  </ion-content>
</ion-view>
